/* I'm typically using Primary theme now so some drastic changes to this file.
Hide the scroll bars on the calendar - so annoying */
.theme-light #calendar-container {
    margin: -10px;
    /* overflow: hidden; */
}
/* Customize the Calendar plugin - mainly highlight weekends */
.theme-light #calendar-container .weekend {
    /* background-color: #9bd4df !important; */
    background-color: #E4D7C3 !important;
}
.theme-dark #calendar-container .weekend {
    /* background-color: #004754 !important; */
    background-color: #191715 !important;
}
.theme-light .dot.filled {
    fill: #CFB696 !important;
}
.theme-dark .dot.filled {
    fill: #4E3E2D !important;
}
.theme-light .hollow.task {
    stroke: #cd4242 !important;
}
.theme-dark .hollow.task {
    stroke: #e02f29 !important;
}

#calendar-container tr td {
    border-radius: 0px !important;
}

.callout {
    margin: 0;
}

/* Color my tags - unused right now - notice it's ref'ing nord colors that aren't defined anymore*/
.cm-tag-journaldaily,
.cm-tag-journalweekly,
.cm-tag-journalmonthly,
.cm-tag-journalyearly,
span[class*="cm-tag-journal"],
.tag[href*="#journal"] {
    /* background-color: var(--nord14) !important; */
    /* color: #B2CAD3; */
}
span[class*="cm-tag-task"],
.tag[href*="#task"] {
    /* background-color: var(--nord3) !important; */
    /* color: #E99B19; */
}
span[class*="cm-tag-area"],
.tag[href*="#area"] {
    /* background-color: var(--nord3) !important; */
    /* color: #A5A9CE; */
}
span[class*="cm-tag-on"],
.tag[href*="#on"] {
    /* background-color: var(--nord3) !important; */
    /* color: #CEFFB8; */
}
span[class*="cm-tag-project"],
.tag[href*="#project"] {
    /* background-color: var(--nord3) !important; */
    /* color: #58D6F7; */
}
span[class*="cm-tag-idea"],
.tag[href*="#idea"] {
    /* background-color: var(--nord3) !important; */
    /* color: #FF897F; */
}
span[class*="cm-tag-source"],
.tag[href*="#source"] {
    /* background-color: var(--nord3) !important; */
    /* color: #FF897F; */
}
span[class*="cm-tag-reference"],
.tag[href*="#reference"],
span[class*="cm-tag-archive"],
.tag[href*="#archive"] {
    /* background-color: var(--nord3) !important; */
    /* color: #A9ABAD; */
}

/* Tabs addon quick-fix */
.tabs-container .tabs-nav {
    justify-content: center;
}

/* I don't like inline data and keys looking so different from regular text */
.dataview.inline-field-key, .dataview.inline-field-value, .dataview.inline-field-standalone-value {
	font-family: var(--font-text);
	font-style:italic;
	color: var(--text-muted);
	background-color: var(--background-primary);
	padding-left:1px;
	padding-right:1px;
}
